/* menu */
.menu-item {
  background: gold;
}
.menu-item:hover {
  background: crimson;
}
.menu-link {
  display: block; /* 전체 영역 클릭할 수 있도록 inline-block에서 block으로 바꿔줌 */
  padding: 1em; /* 현재 font-size만큼의 padding을 주기 위해 em 사용 */
  font-size: 1.2rem; /* font-size는 root를 따라가도록 rem 사용 */
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}
.menu-link:hover {
  color: white;
}
